.palette {
    display: flex;
    align-items: center;
    gap: 8px;

    .icon {
        img {
            display: block;
            width: 24px;
        }
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 8px;

        li {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            cursor: pointer;

            &.colorSelected {
                outline: 2px solid var(--palette-color);
                border: 2px solid #fff;
            }
        }
    }
}